<h1>Menus</h1>

<% if current_user.is_admin %>
  <a class="addMenu">New Menu</a><br><br>
    <div class="menuForm" style="display: none;">
      <%= render '/menus/new' %>
    </div>
<% end %>

  <% @menus.each do |menu| %> 
    <h3><%= link_to menu.name, user_menu_path(@user, menu) %></h3>
    <% if current_user.is_admin %>
      <%= link_to "Edit", edit_user_menu_path(@user, menu) %>
      |
      <%= link_to "Delete", user_menu_path(@user, menu), method: :delete %><hr>
    <% end %>
  <% end %>
