<h1 class="restaurant_name"><%= @user.name.split.map(&:capitalize).join(' ') %></h1>

<% if user_signed_in? && (current_user == @user)  %>
  <a class="addMenu">New Menu</a><br><br>
    <div class="menuForm" style="display: none;">
      <%= render '/menus/new' %>
    </div>
<% else %>
  <a class="show_allergy"> Show all dishes </a>
<% end %>

<div class="menu_index">
  <% @menus.each do |menu| %> 
    <%= render partial: 'menus/row', locals: { menu: menu } %>
  <% end %>
</div>
