
<!-- articles starts -->
<div class="row article_cards">
  <div class="col-md-4">
    <h1>For Restaurants</h1>
    <p>
      Picky Eater will make it easier to have your mobile and web menu. It is also really easy to add recipes to your dishes. Contact us for more details!
    </p>
  </div>
  <div class="col-md-4">
    <h1>For Diners</h1>
    <p>
      Still gazing at the old paper menu? Picky Eater helps you to filter the menu to what you can eat. If you want to look at the whole menu,
      all you have to do is click a button. See the menu in a whole new way with Picky Eater
    </p>
  </div>
  <div class="col-md-4">
    <h1>Recommend Us!</h1>
    <p>
      Help us sign in restaurants! Contact us at admin@picky-eater.com
    </p>

  </div>
</div>


<!-- Restaurant article -->
<div class="well">
  <h1> Restaurant Use </h1>
  <p>
    A common problem in restaurants is if the diner is allergic to any kind of ingredient. Restaurants are very good with accomodating requests now adays but it could be better. Rather than having 2 or 3 menus a night because you need a gluten free menu or a vegetarian menu, it is a lot easier to use Picky Eater.
    <br><br>
    With Picky Eater, there is no need to have a separate gluten free menu, kosher menu, or vegetarian menu. The dishes automatically hides if the user cannot eat the dish.
    <br><br>
    Have a customer who does not like carrots? or allergic to peanuts? Rather than having a server to go all the way back to the kitchen and ask the cooks which of the dishes does not have carrots or peanuts, then come back to the table after 5 minutes and forgetting half of what the cooks have told them, it would be better to use picky eater. Not only that we cater to diets, we also cater to the specific ingredients that the customer cannot consume.
  </p>
</div>

<div class="well">
  <h1> Diner User </h1>
  <p>
    It is hard to eat out when you have a lot of allergies but with Picky Eater it makes everything a lot easier. Use the app to browse for Restaurants and look at their menu. There is no need to waste an hour skimming through the menu and looking for a dish that is vegetarian and gluten-free, With this app, it takes just seconds to put in your diet and the specific ingredients that you cannot consume. Picky Eater filters the menu for you so you don't have to do it.
    <br><br>
    We do, however, strongly suggest that you still tell your server about your allergy or diet. This would prevent cross contamination and restaurants would be most likely be able to help you with your request.
  </p>
</div>