<h1>Recipes</h1>

<!-- Renders Recipe form -->
<a class="addRecipe">Add a recipe</a>
<div class="recipeForm" style="display: none;">
  <%= render "form" %>
</div><hr>

<!-- Recipe Accordion begins -->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% @recipes.each_with_index do |r, index| %>
    <%= render partial: 'recipes/row', locals: {r: r, index: index} %>
  <% end %>
</div>
