<h1>Favourited Restaurants</h1>

<% @user.favourited_users.each do |restaurant| %>
  <p>Name: <%= restaurant.name %></p>
  <p>Address: <%= restaurant.address %></p>
  <p>Phone:<%= restaurant.phone_number %></p>
  <hr>
<% end %>

<% if @user.favourited_users.length < 1 %>
  <%# if user has no favourites, displays a message %>
  <p>You haven't added any restaurants to your favourites yet!</p>
<% end %>