#sortable1 {
  min-height: 40px;
  padding-left: 0;
}

#sortable2 {
  min-height: 40px;
  padding-left: 0;
}

.ui-state {
  height: 40px;
  font-size: 20px;
}

span.glyphicon.glyphicon-star {
  color: #e87e37;
}

.dish {
  max-height: 150px;
}

.like_container, .dish_buttons {
  text-align: right;
}

