$pie_background_color: #edecec;
$pie_charcoal_grey: #383838;
$pie_orange_color: #e87e37;

#sortable1 {
  min-height: 40px;
  background-color: #383838;
  border-radius: 15px; 
  padding-left: 0;
}


#sortable2 {
  min-height: 40px;
  background-color: #383838; 
  border-radius: 15px;  
  padding-left: 0;
}



.connectedSortable {


}


.ui-state {
  border-radius: 15px;
  background-color: #e87e37;
  border: 2px solid;
  // width: 300px;
  height: 40px;
  font-size: 20px;
}