$pie_orange_color: #e87e37;

.parallax-window__darken{
  height: 70vh;
  margin: 0 auto;
  position: relative;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding-top: 6em;
  padding-left: 5em;
  left: 0;

  .modal {
    text-align: left;
  }
}
