$pie_background_color: #edecec;
$pie_charcoal_grey: #383838;
$pie_orange_color: #e87e37;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $pie_background_color;
  font-family: 'Lora', serif;
}

.hidden {
  display: none;
}

.allergy {
  border: 1px solid red;
}

.pie_button {
    background-color: $pie_orange_color;
    box-shadow: 1px 1px 1px $pie_charcoal_grey;
    color: $pie_background_color;
    font-family:'Helvetica Neue',sans-serif;
    font-size:18px;
    line-height:30px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border: 2px solid $pie_charcoal_grey;
    text-shadow: $pie_charcoal_grey 0 1px 0;
    width:120px;
    height:32px
}

a {
  color: #8a8c8c;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: $pie_orange_color;
}

.pie_divider {
  background-color: $pie_orange_color;
}
.flash {
  background-color: $pie_orange_color;
  height: 1.5em;
  padding-left: 4em;
}