$pie_background_color: #edecec;
$pie_orange_color: #e87e37;

body {
  background-color: $pie_background_color;
}

.hidden {
  display: none;
}

.allergy {
  background-color: red;
}

.jumbotron {
  background-image: url('jumbotron_pic.jpg');
  background-size: 100%;
  height: 600px;
  margin: 0;
}

.sign_in {
  position: absolute;
  top: 0;
  margin-top: 300px;
  margin-left: 800px;
  text-align: right;
  h2 {
    color: $pie_orange_color;
  }
  p {
    color: white;
    span {
      color: black;
    }
  }

  button {
    color: $pie_orange_color;
  }
  button:hover {
    text-decoration: none;
    color: #aaa;
  }

}

.jumbo_darken{
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 280px;
  width: 100%;
  margin-top: 290px;
}


.flash {
  background-color: $pie_orange_color;
  height: 18px;
}