$pie_background_color: #edecec;

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $pie_background_color;
  font-family: 'Lora', serif;
}

.hidden {
  display: none;
}

.allergy {
  background-color: red;
}
