$pie_orange_color: #e87e37;
$pie_charcoal_grey: #383838;
$pie_background_color: #edecec;

.menu {
  background-color: $pie_charcoal_grey;
  padding-bottom: 10px;

  a.logo img{
    margin-left: 20px;
    height: 100px;
  }

  .menu_button{
    
    display: inline-block;
    height: 0px;
    a {
      text-decoration: none;
      padding: 30px;
      text-transform: uppercase;
      color: #8a8c8c;
      margin-left: 10px;
      font-size: 1.3em;
    }

    a:hover {
      color: $pie_orange_color;
      transition: .2s;
    }
  }

}

