$pie_orange_color: #e87e37;
$pie_charcoal_grey: #383838;
$pie_background_color: #edecec;

.main_menu_bar {
  background-color: #252525;
  margin-left: 0;
  height: 2em;
  padding-top: 3px;

  a {
    margin-left: 5px;
    padding: 2px;
  }

}

