$pie_orange_color: #e87e37;
$pie_charcoal_grey: #383838;
$pie_background_color: #edecec;

.menu_bar {
  background-color: white;
  margin: 0;
  height: 3em;
  padding-top: 10px;
  padding-left: 20px;
 
 .menu_bar__logo {
  // display: inline-block;
 }

  .menu_bar__links {
    text-align: center;
    
    a {
      color: $pie_charcoal_grey;
      text-transform: uppercase;
      padding: 10px;
      margin-left: 10px;
    }
    
    a:hover {
      color: $pie_orange_color;
    }
  }


}

