$pie_orange_color: #e87e37;
$pie_charcoal_grey: #383838;
$pie_background_color: #edecec;

.banner{
  display: inline-block;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  img.pie_banner {
    height: 8em;
  }

  img.ball {
    position: absolute;
    margin-left: 5.3em;
    display: inline;
    height: 3em;
  }
}

.menu {
  background-color: $pie_charcoal_grey;
  margin: 0;

  .navbar {
    margin: 0;
  }
  .collapse {
    margin: 0;
  }

  a.logo img{
    margin-left: 20px;
    height: 8em;
    display: inline-block;
  }

  .menu_button{
    
    display: inline-block;
    height: 0px;
    margin-top: 1em;
    li a {
      text-decoration: none;
      padding: 30px;
      text-transform: uppercase;
      color: #8a8c8c;
      font-size: 1.3em;
    }

    li a:hover {
      background-color: $pie_charcoal_grey;
      color: $pie_orange_color;
      transition: .2s;
    }
  }

}

